<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-input-container>
            <input [ngClass]="{'error' : isValid('firstName')}" style="width: 350px;" matInput placeholder="First Name" formControlName="firstName">
        </mat-input-container>
        <mat-input-container>
                <input [ngClass]="{'error' : isValid('lastName')}" style="width: 350px;" matInput placeholder="Last Name" formControlName="lastName">
        </mat-input-container>
        <mat-input-container>
                <input [ngClass]="{'error' : isValid('email')}" style="width: 350px;" type="email" matInput placeholder="email" formControlName="email">
        </mat-input-container>
        <mat-input-container>
                <input [ngClass]="{'error' : isValid('password')}" style="width: 350px;" matInput type="password" placeholder="Password" formControlName="password">
        </mat-input-container>
        <mat-input-container>
                <input [ngClass]="{'error' : isValid('confirmPassword')}" style="width: 350px;" matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-input-container>
        <br>
        <span *ngIf="form.errors?.mismatchedFields">Passwords do not match!</span>
        <br>
        <button mat-raised-button color="primary">Register</button>
    </form>
</mat-card>